/* main{
    background-image: url(/img/home-bg.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center calc(50% - 660px);
    opacity: 0.8;
    min-height: 90vh;

} */

/* .above-the-fold{
    color: #f0f0f0 !important;
    font-family: 'Lexend Deca', sans-serif !important;
    display: inline-block;
    padding-top: 150px;
    padding-left: 50px;
    border: 2px red solid;

}

.above-the-fold button{
    display:block;
    background-color: #bfd732;
    border-radius: 40px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    font-weight: 800;
    font-size: larger;
}

@media (max-width: 1000px) {
    main{
        background-position: center;
    }
} */

#Main img{
    width: 100%;
}