  .above-the-fold{
    color: #f0f0f0 !important;
    font-family: 'Lexend Deca', sans-serif !important;
    display: inline-block;
}

.AtF-content{ 
    padding-top: 10px;
    width: 60%;
}

.AtF-content h1{
    margin-left: 10%;
    padding-top: 50px;
}

/*CTA button*/
.above-the-fold button{
    display:block;
    background-color: #bfd732;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    padding: 20px 30px;
    font-weight: 800;
    font-size: larger;
}




img{
    width: 100%;
}

